<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OneYear Notification Content.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>OneYear Today.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>OneYear WatchKit App (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>OneYear WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>OneYear.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>155191CB21A25CE200E68878</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>155191DA21A25D0A00E68878</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>155191F021A25D6100E68878</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15AB29C7219AB2D700DB7D3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15AB29D9219AB2DC00DB7D3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
